<div class="min-h-screen flex flex-col gap-3 py-4 px-4 bg-gray-100">
    <p-toast position="top-right" />

    <!-- Header -->
    <div class="flex flex-col gap-3 items-center">
        <div class="flex flex-col md:flex-row items-center justify-center gap-4">
            <h1 class="text-4xl md:text-5xl font-bold text-gray-800 tracking-tight">
                Weather App
            </h1>
            <div class="flex gap-2">
                <button (click)="toggleUnitSystem()"
                    class="px-3 py-1 rounded-lg text-gray-700 text-sm font-medium border border-gray-300 hover:bg-gray-300 hover:cursor-pointer hover:scale-105 transition-all">
                    {{ unitSystem() === 'metric' ? '°C' : '°F' }}
                </button>
                @if (searchHistoryComponent().history().length > 0) {
                <button (click)="searchHistoryComponent().toggle()"
                    class="px-3 py-1 rounded-lg text-gray-700 text-sm font-medium border border-gray-300 hover:bg-gray-300 hover:cursor-pointer hover:scale-105 transition-all flex items-center gap-2">
                    <i class="pi pi-history" style="font-size: 10px;"></i>
                    History
                </button>
                }
            </div>
        </div>
        <p class="text-sm text-gray-600">Get real-time weather information for any city</p>
    </div>

    <!-- Search History Component -->
    <app-search-history (itemSelected)="onHistoryItemSelected($event)" (historyCleared)="onHistoryCleared()" />

    <!-- Search Section -->
    <div class="max-w-2xl mx-auto w-full">
        <app-weather-search (searchTriggered)="onSearchCity($event)" />
    </div>

    <!-- Weather Data Section -->
    <div class="max-w-2xl mx-auto w-full">
        @if (weatherDataResource.error()) {
        <div class="text-center p-5 bg-white rounded-3xl shadow-lg border border-gray-200">
            <i class="pi pi-exclamation-circle text-6xl text-gray-500 mb-4"></i>
            <h3 class="text-2xl font-semibold text-gray-800 mb-2">Oops! Something went wrong</h3>
            <p class="text-gray-600 mb-6">
                Unable to fetch weather data
            </p>
        </div>
        } @else if (weatherDataResource.value()) {
        <app-sample-card [weatherData]="weatherDataResource.value()" [unitSystem]="unitSystem()" />
        } @else {
        <div
            class="flex flex-col justify-center items-center text-center py-16 bg-white rounded-3xl shadow-lg border border-gray-200">
            <h2 class="text-2xl font-bold text-gray-800 mb-2">Welcome to the Weather App</h2>
            <p class="text-gray-600 mb-6">
                Use the search box above to find weather information for any city.
            </p>
        </div>
        }
    </div>
</div>